@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (OBlockQuestionAnswerContainer)Model.Content;
    var items = content.OItems.Select(item => item.Content).Cast<OQuestionAnswer>();

}
<section class="works oski-pb-4 oski-pt-4">
    <h3 class="works__title">@content.OTitle</h3>
    @await Html.PartialAsync("oskiPartials/OQuestionAndAnswer", items)
</section>