@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (OBlockPlansCardsContainer)Model.Content;
    var items = content.OCards.Select(item => item.Content).Cast<PlansCard>();
}

<section class="support-plans oski-mt-4 oski-mb-4" id="support">
    <div class="container">
        <h3 class="support-plans__title">@content.OTitle</h3>
        @await Html.PartialAsync("oskiPartials/OPlansCards", items)
    </div>
</section>