@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@{
    var content = (OBlockTitle)Model.Content;
}
<div class="block-title">
    @Html.Raw(content.ORichTextEditor.ToHtmlString())
</div>